$color-background = #1d2433
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = hexo-config("highlight")
$color-border = #666
$color-meta = #ffae57
$color-meta-code = #666
$color-link = #ffcc66
$color-text = #d7dce2
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #ffcc66
$color-quote = #bae67e
$highlight = hexo-config("highlight") || "rainbow"
